@font-face {
    font-family: 'bright';
    src: url('assets/Bright.otf');
}


.custom-navbar {
    background-color: #7d4a2c;
}

.btn-black {
    background-color: black;
}

body {
    background-color: #f3e6d8;
}

.search:hover {
    width: 100%;
}

.card {
    border-radius: 10px;
    background-color: white;
    border: 2px solid #7d4a2c;
}

h2 {
    color: #7d4a2c;
    font-weight: bold;
}

.form-label {
    color: #7d4a2c;
    font-weight: bold;
}

.form-control {
    border: 1px solid #7d4a2c;
    border-radius: 5px;
}

.form-control:focus {
    box-shadow: 0 0 5px rgba(84, 60, 8, 0.5);
    border-color: #7d4a2c;
}

.btn-primary {
    background-color: #7d4a2c;
    border-color: #7d4a2c;
    color: white;
}

.btn-primary:hover {
    background-color: #6e5411;
    border-color: #6e5411;
}
.sidebar:hover {
    background-color: #7d4a2c;
    border-color: #7d4a2c;
}
#message {
    color: #7d4a2c;
}

@media (max-width: 576px) {
    .card {
        padding: 1rem;
    }
}

.navbar {
    background-color: #7d4a2c;
    padding: 15px;
}
.navbar-brand img {
    width: 100px;
    height: auto;
}

.custom-nav-link {
    color: white !important;
    font-size: 1.2rem;
    text-transform: uppercase;
    padding: 10px 20px;
    border: 2px solid transparent;
    transition: all 0.3s ease;
}

.custom-nav-link:hover {
    color: #7d4a2c !important;
    background-color: white;
    border-radius: 5px;
    border: 2px solid white;
}

.custom-nav-link:active {
    background-color: #6e5411;
    border-color: #6e5411;
}

.navbar-toggler {
    border-color: white;
}

.navbar-toggler-icon {
    background-color: white;
}

@media (max-width: 576px) {
    .custom-nav-link {
        font-size: 1rem;
        padding: 8px 15px;
    }
}

.footer {
    background-color: #7d4a2c;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0;
}

.footer .text-muted {
    color: white !important;
}

.container-fluid {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.image-container {
    flex: 1;
    padding: 20px;
}

.image-container img {
    max-width: 100%;
    height: auto;
}

.register-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 992px) {
    .image-container {
        display: none;
    }
    .register-container {
        flex: 1;
        width: 100%;
    }
}

.cardcarousel {
    position: relative;
    margin-bottom: 0;
}
.btn-carousel{
    padding-top: 100px;
}

.carousel-control-prev {
    left: 10px;
}

.carousel-control-next {
    right: 10px; 
}

hr{
    height: 5px; 
    background-color: #7d4a2c;
}


.subtitulo {
    font-family: 'bright';
}

.removerBtn {
    margin-left: 40px;    
}